asgiref==3.7.2
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.11.17
charset-normalizer==3.3.2
distlib==0.3.7
Django==4.2.5
filelock==3.12.4
idna==3.6
lxml==5.0.0
names==0.3.0
platformdirs==3.11.0
psycopg2-binary==2.9.9
python-docx==1.1.0
requests==2.31.0
setuptools==68.2.2
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.9.0
urllib3==2.1.0
virtualenv==20.24.5
